<div fxLayout="row" fxLayoutAlign="center center" *ngIf="weatherInfo">
  <p><span>Pressure:</span> {{actualWeatherData?.main.pressure | number:'2.0-0'}}</p>
  <p><span>Humidity:</span> {{actualWeatherData?.main.humidity | number:'2.0-0'}}</p>
  <p><span>Wind speed:</span> {{actualWeatherData?.wind.speed | number:'2.0-0'}} m/s</p>
  <p><span>Clouds:</span> {{actualWeatherData?.clouds.all}}%</p>
</div>
