<form>
  <mat-form-field>
    <input matInput #cityName maxlength="40" placeholder="City or zipcode" (keyup)="onKeyUp(cityName.value)" required>
    <mat-hint align="end">{{cityName.value.length}} / 40</mat-hint>
  </mat-form-field>
</form>
