<mat-toolbar fxLayout="row" fxLayoutAlign="space-around center">
  <mat-toolbar-row>
    <app-open-weather-icon [iconCode]="openWeatherIcon.CLEAR_SKY"></app-open-weather-icon>
    <span fxFlex="grow">Forecast</span>
    <app-weather-request-input fxFlex="30" (weatherRequest)="setWeatherRequest($event)"></app-weather-request-input>
  </mat-toolbar-row>
</mat-toolbar>
