<div fxLayout="column" fxLayoutAlign="space-between center" *ngIf="weatherInfo">
  <div class="tv-city">{{weatherInfo.city.name}}, {{weatherInfo.city.country | uppercase}}</div>
  <div class="tv-temperature">{{actualWeatherData?.main.temp | number:'2.0-0'}}&deg;C</div>
  <div class="tv-weather">
    <app-open-weather-icon [iconCode]="actualWeatherData?.weather[0]?.icon"></app-open-weather-icon>
    <span>{{actualWeatherData?.weather[0]?.description}}</span>
  </div>
</div>
