<div fxLayout="column">
  <p>Forecast up to 5 days</p>
  <mat-tab-group [color]="'primary'">
    <mat-tab label="Wind">
      <ng-template matTabContent>
        <app-highchart-viewer [chartOptions]="windChartOptions"></app-highchart-viewer>
      </ng-template>
    </mat-tab>
    <mat-tab label="Temperature">
      <ng-template matTabContent>
        <app-highchart-viewer [chartOptions]="temperatureChartOptions"></app-highchart-viewer>
      </ng-template>
    </mat-tab>
    <mat-tab label="Presure">
      <ng-template matTabContent>
        <app-highchart-viewer [chartOptions]="presureChartOptions"></app-highchart-viewer>
      </ng-template>
    </mat-tab>
    <mat-tab label="Humidity">
      <ng-template matTabContent>
        <app-highchart-viewer [chartOptions]="humidityChartOptions"></app-highchart-viewer>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
