<div fxLayout="column" class="content" *ngIf="weatherInfo">
  <app-current-day-viewer></app-current-day-viewer>
  <app-temperature-viewer [weatherInfo]="weatherInfo"></app-temperature-viewer>
  <app-weather-details-viewer [weatherInfo]="weatherInfo"></app-weather-details-viewer>
  <app-weather-tabs-viewer [weatherInfo]="weatherInfo"></app-weather-tabs-viewer>
</div>
<div fxLayout="row" fxLayoutAlign="center" *ngIf="!weatherInfo && !weatherRequest.length">
  <p>Please, enter city name or zip code in field above.</p>
</div>
<div fxLayout="row" fxLayoutAlign="center" *ngIf="!weatherInfo && weatherRequest.length">
  <p>For city name or zip code '{{weatherRequest}}' forecast not found!</p>
</div>
<div *ngIf="httpIsActive" class="preloader">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

